<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bloggist Admin</title>
        <meta charset="utf-8">
    </head>
    <body>
        <div id="main">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>