{% if type == 'javascript' %}
var mapdivs = document.getElementsByClassName("latest_spot_google_map");
for (var i = 0; i < mapdivs.length; i++) {
  var mapdiv = mapdivs[i];
  var latitude = mapdiv.getElementsByClassName("latitude")[0];
  var longitude = mapdiv.getElementsByClassName("longitude")[0];
  var mapOptions = {
    center: new google.maps.LatLng(latitude.innerHTML, longitude.innerHTML),
    zoom: 3,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    disableDefaultUI: true,
    zoomControl: true
  };
  var googlemap = new google.maps.Map(mapdiv, mapOptions);
  new google.maps.Marker({
      map: googlemap,
      position: new google.maps.LatLng(latitude.innerHTML, longitude.innerHTML),
      title: 'test'
  });
}
{% else %}
<div class="latest_spot_map">
    <h4>{{ 'spot.latest_map.title'|trans }}</h3>
    <div class="latest_spot_google_map">
        <span class="latitude" style="display:none">{{ message.getLatitude }}</span>
        <span class="longitude" style="display:none">{{ message.getLongitude }}</span>
    </div>
</div>
{% endif %}