<div class="article-post post">
    <div class="timestamp">{{ post.postedAt|format_date }}
        {% if post.tags is not empty %}
        · {{ post.tags|join(', ') }}
        {% endif %}
    </div>
    <h2>
        {% if stub_mode %}
            <a href="{{ path('bloggist_postweb_show', { 'slug': post.slug }) }}">{{ post.title }}</a>
        {% else %}
            {{ post.title }}
        {% endif %}
    </h2>
    {% if post.synopsis is empty or not stub_mode %}
        {{ post.content|raw }}
    {% else %}
        {{ post.synopsis|raw }}
    {% endif %}

    {% if stub_mode %}
        <div class="read-more">
            <a href="{{ path('bloggist_postweb_show', { 'slug': post.slug }) }}">{{ 'post.read_more'|trans }}</a>
        </div>
        {{ 'after_post_synopsis'|area(post) }}
    {% else %}
        {{ 'after_post'|area(post) }}
    {% endif %}    
</div>
