<div class="media-post post">
    <figure class="image">
        {% if post.sourceType == 'youtube' %}
            <object width="950" height="535">
              <param name="movie"
                     value="https://www.youtube.com/v/{{ post.resourceId }}?hd=1&autoplay=1"></param>
              <param name="allowScriptAccess" value="always"></param>
              <embed src="https://www.youtube.com/v/3Fv07ixP3F0?hd=1&fs=1&modestbranding=1"
                     type="application/x-shockwave-flash"
                     allowfullscreen="true"
                     allowscriptaccess="always"
                     width="950" height="535"></embed>
            </object>
        {% elseif post.sourceType == 'flickr' %}
            <a href="{{ post.resourceId|flickr_photo_link }}">
                <img src="{{ post.resourceId }}"
                     alt="{{ post.altText }}"
                     {% if post.caption is not empty %}
                        title="{{ post.caption }}"
                     {% endif %}
                />
            </a>
        {% elseif post.sourceType == 'image' %}
            <img src="{{ post.resourceId|image_web_path_by_id }}"
                 alt="{{ post.altText }}"
                 {% if post.caption is not empty %}
                    title="{{ post.caption }}"
                 {% endif %}
            />
        {% endif %}
        {% if post.caption is not empty or post.title is not empty %}
            <figcaption>
                <span class="caption">{{ post.caption }}</span>
                {{ 'after_post_synopsis'|area(post) }}
            </figcation>
        {% endif %}
    </figure>
</div>