{% extends 'BloggistPostWebBundle::layout.html.twig' %}

{% block title %}
    {{ subject.getTitle }} - {{ title }}
{% endblock %}

{% block meta_tags %}
    {{ 'meta_tags'|area(subject) }}
{% endblock %}

{% block content %}
    {{ post|raw }}
{% endblock %}