{% extends 'BloggistPostAdminBundle::layout.html.twig' %}

{% block content %}
    <form method="POST" class="post">
        {{ form_widget(form) }}
        <div>
            <input type="submit" />
        </div>
    </form>
{% endblock %}