{% extends 'BloggistPostAdminBundle::layout.html.twig' %}

{% block content %}
<ul>
    {% for post in posts %}
    <li>
        <a href="{{ path('bloggist_post_admin_edit', { 'id': post.getId }) }}">{{ post.getTitle }}</a> - {{ post.getPostedAt|format_datetime }}
    </li>
    {% endfor %}
</ul>

<a href="{{ path('bloggist_post_admin_create_article') }}">{{ 'post_admin.create_article' | trans }}</a>
<a href="{{ path('bloggist_post_admin_create_media') }}">{{ 'post_admin.create_media' | trans }}</a>
{% endblock %}