{% extends 'BloggistPostWebBundle::layout.html.twig' %}

{% block meta_tags %}
    {{ 'meta_tags'|area(page) }}
{% endblock %}

{% block content %}
<div class="article-post post">
    <h2>{{ page.getTitle }}</h2>

    {{ page.getContent|raw }}
</div>
{% endblock %}