<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bloggist Admin</title>
        <meta charset="utf-8">
        {% stylesheets '@BloggistPostAdminBundle/Resources/public/css/*.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div id="main">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>