{% if elements %}
<div id="menu">
    <ul>
        {% for e in elements %}
            {% if e.type == 'internal' %}
                <li><a href="{{ path(e.value, e.parameters ) }}">{{ e.title|raw }}</a></li>
            {% elseif e.type == 'external' %}
                <li><a href="{{ e.value }}">{{ e.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}