        <meta property="fb:app_id"               content="{{ fb_app_id }}">
        <meta property="og:type"                 content="{{ og_type }}">
        <meta property="og:url"                  content="{{ og_url }}">
        <meta property="og:image"                content="{{ og_image }}">
        <meta property="og:title"                content="{{ og_title }}">
        <meta property="og:description"          content="{{ og_description }}">
