@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-L.ttf');
}

@font-face {
  font-family: 'Sanchez';
  src: url('/fonts/sanchez/Sanchezregular.ttf');
}

@font-face {
  font-family: 'Jura';
  src: url('/fonts/jura/Jura-Regular.ttf');
}

body {
  padding: 0;
  margin: 0;
  background: url('images/test/background.png');
/*  background: url('images/test/background.png'); */
  background: #ccc;
  font-size: 14px;
}

* {
 padding: 0;
 margin: 0;
 color: #444;
 font-family: Georgia, Verdana, Arial, serif;
 text-decoration: none;
}

a {
    color: #000;
}

a:hover {
    color: #222299;
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a {
	font-family: 'Jura', Georgia, Verdana, Arial, serif;
}

#header {
    width: 950px;
    margin: 0 auto;
}

#header h1 {
	font-size: 3em;
	padding: 20px 0px 0px;
	text-shadow: 0px 0px 5px #222;
}

#header h1 a {
	color: white;
}

#top {
    width: 950px;
    height: 300px;
    margin: 0 auto 15px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
    background: url('/img/header.jpg');
	box-shadow: 0px 0px 15px #444;
}

#container {
    width: 950px;
    margin: 0 auto;
}

.article-post, #sidebar {
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

#sidebar {
	min-height: 500px;
	display: block;
	float: left;
	width: 260px;
	box-shadow: 0px 0px 15px #444;
	background: white;
}

#main {
	float: left;
	min-height: 800px;
	width: 670px;
	margin: 0 0 20px 20px;
}

div.post h2, div.post h2 a {
    color: #aa3333;
}

.post {
	box-shadow: 0px 0px 15px #444;
	margin-bottom: 40px;
}

.article-post {
    padding: 60px 0 30px;
	background: white;
}

.post .timestamp {
    color: #777;
    font-size: small;
    margin: 0 70px;
}

.post h2 {
    color: #333;
    font-size: 1.8em;
    margin: 0.3em 70px 0.5em;
}

.post h3 {
    color: #333;
    font-size: 1.2em;
    margin: 0.8em 70px 0;
}

.post p {
	margin: 0.5em 70px;
	line-height: 1.5em;
}

.post figure {
	margin: 0 auto;
	width: 670px;
	padding: 0;
}

.post figure img {
    max-width: 670px;
}

.article-post figure {
    margin: 10px 0;
}

.post figure {
    padding: 0;
    background: black;
}

.post figure figcaption {
    margin: 0;
    padding: 4px;
}

.article-post figure figcaption {
    padding-top: 0px;
}

.media-post figure figcaption {
    min-height: 20px;
}

.post figure figcaption span.caption {
    font-size: 0.9em;
    font-family: Arial;
    color: #aaa;
}

.article-post a.read-more {
    display: block;
	margin: 0.3em 70px;
}

.article-post .permalink {
    float: right;
    padding-top: 2px;
}

.article-post .permalink a {
    margin: 0 5px;
    font-size: 11px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    border-bottom: 1px dotted #999;
}

.article-post .comments {
    margin: 0.5em 70px 0;
}

.article-post .social-widget {
	margin: 2em 70px 0;
    height: 20px;
    padding: 0;
}

.media-post .social-widget {
    height: 20px;
    padding: 0;
    float: right;
}