@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-L.ttf');
}

@font-face {
  font-family: 'Sanchez';
  src: url('/fonts/sanchez/Sanchezregular.ttf');
}

@font-face {
  font-family: 'Jura';
  src: url('/fonts/jura/Jura-Regular.ttf');
}

body {
  padding: 0;
  margin: 0;
  background: url('/img/bkgs/3.jpg');
  font-size: 15px;
}

* {
 padding: 0;
 margin: 0;
 color: #444;
 font-family: Arial, Verdana, serif;
 text-decoration: none;
}

a {
    color: #000;
}

a:hover {
    color: #222299;
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a {
	font-family: 'Ubuntu', Arial, Georgia, Verdana, serif;
}

#header {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

#menu {
    background: #711;
    opacity: 0.8;
    padding: 10px;
    overflow: auto;
    float: right;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    float: left;
    display: block;
}

#menu li a {
    color: white;
    padding: 10px 20px;
}

#menu li a:hover {
    background: black;
}

#header h1 {
	font-size: 3em;
	padding: 60px 0px 5px;
	text-shadow: 0px 0px 5px #222;
}

#header h1 a {
	color: white;
}

#container {
    width: 950px;
    margin: 0 auto;
}


#sidebar {
	min-height: 500px;
	display: none;
	float: left;
	width: 260px;
	box-shadow: 0px 0px 15px #444;
	background: white;
}

#main {
	min-height: 800px;
	width: 950px;
}

#footer {
    width: 950px;
    background: #444;
    margin: 0 auto;
}

#copyright {
    font-size: 0.8em;
    padding: 4px;
    color: white;
}

div.post h2, div.post h2 a {
    color: #aa3333;
}

.post {
	box-shadow: 0px 0px 15px #444;
	margin-bottom: 50px;
}

.article-post {
    padding: 60px 0 30px;
	background: white;
}

.post .timestamp {
    color: #777;
    font-size: small;
    margin: 0 120px;
}

.post h2 {
    color: #333;
    font-size: 2.4em;
    margin: 0.3em 120px 0.5em;
}

.post h3 {
    color: #333;
    font-size: 1.6em;
    margin: 0.8em 120px 0;
}

.post p {
	margin: 0.5em 120px;
	line-height: 1.5em;
    text-align: justify;
}

.post figure {
	margin: 0 auto;
	padding: 0;
    text-align: center;
}

.article-post figure {
    width: 710px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-post figure img {
    max-width: 710px;
    max-height: 540px;
}

.media-post figure, .article-post figure.broad {
	width: 950px;
}

.media-post figure img, .article-post figure.broad img {
    max-width: 950px;
    max-height: 720px;
}

.post figure {
    padding: 0;
    background: black;
}

div.post figure figcaption {
    margin: 0;
    text-align: left;
}

.article-post figure figcaption, .media-post figure figcaption span.caption {
    padding: 0 4px 4px;
    font-size: 0.9em;
    color: #aaa;
}

.media-post figure figcaption {
    min-height: 22px;
    padding: 0 2px;
}

.article-post div.read-more {
    display: block;
	margin: 0.3em 120px;
    text-align: right;
}

.article-post div.read-more a:hover {
    color: #222;
}

.article-post .permalink {
    float: right;
    padding-top: 2px;
}

.article-post .permalink a {
    margin: 0 5px;
    font-size: 11px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    border-bottom: 1px dotted #999;
}

.article-post .comments {
    margin: 0.5em 120px 0;
}

.article-post .social-widget {
	margin: 4em 120px 0;
    height: 20px;
    padding: 0;
}

.media-post .social-widget {
    height: 20px;
    padding: 0;
    float: right;
}

#header .latest_spot_map {
    position: absolute;
    top: 43px;
    right: 0px;
    border: 2px solid black;
    background: black;
}

#header .latest_spot_map h4 {
    color: white;
}

.latest_spot_google_map {
    width: 250px;
    height: 130px;
}