{% extends 'BloggistImageBundle::layout.html.twig' %}

{% block content %}
    <form method="POST" class="image" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div>
            <input type="submit" />
        </div>
    </form>
{% endblock %}