{% extends 'BloggistImageBundle::layout.html.twig' %}

{% block content %}
<ul>
    {% for image in images %}
    <li>
        {{ image.getTitle }} <img src="{{ (image | image_web_path) | apply_filter('thumbnail') }}" />
    </li>
    {% endfor %}
</ul>

<a href="{{ path('bloggist_image_admin_create') }}">{{ 'image.create'|trans }}</a>
{% endblock %}