<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#
                  blog: http://ogp.me/ns/blog#">
        <title>{% block title %}{{ title }} · {{ subtitle }}{% endblock %}</title>
        <meta charset="utf-8">
        
        <script type="text/javascript"
              src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&sensor=false">
        </script>
        <script type="text/javascript">
          function initialize() {
              {{ 'js_initialize_func'|area }}
          }
        </script>

        {% block meta_tags %}{% endblock %}
        {% stylesheets '@BloggistPostWebBundle/Resources/public/css/modern_template.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {{ 'before_head_close'|area }}
    </head>
    <body onload="initialize()">
    {{ 'after_body_open'|area }}
        <div id="outer-box">
            <div id="header">
                {{ 'before_title'|area }}
                <h1><a href="{{ path('bloggist_postweb_index') }}">{{ title }}</a></h1>
            </div>
            <div id="top">
            </div>
            <div id="container">
                <div id="sidebar">
                    {{ 'sidebar'|area }}
                </div>
                <div id="main">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <div id="footer">
            <div id="copyright">{{ copyright_note }}</div>
        </div>
    {{ 'before_body_close'|area }}
    </body>
</html>